{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
{% load addclass %}

<div class="row around-xs">
    <div class="col-sm-12 col-sm-8 col-md-6  col-lg-5">
        <div class="card">
            <h4>Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались</h4>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    <div class="field-group middle-xs row">
                        
                        {% for field in form %}
                          {{field}}
                        {% endfor %}
             
                        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
                       
                    </div>
                </form>

            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}