{% extends "base.html" %}
{% block title %}Подтверждение регистрации{% endblock %}
{% block content %}
<div class="row around-xs">
    <div class="col-xs-12 col-sm-6">
        <div class="card">
            <div class="card-header">Активация аккаунта</div>
            <div class="card-body">

       			<p>На указанный при регистрации email Вам было отправлено письмо с инструкцией по активации аккаунта.</p>
              
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->


{% endblock %}